# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
.claude/
.env
*.csv
*.parquet
*.out
*.log
./data/__pycache__/
./query/__pycache__/
./config/__pycache__/
./utils/__pycache__/
./test/__pycache__/